<h2> Item list </h2>

<ul>

    {% for item in items %}
    <li>
        {{item.name}}
    </li>
    <li>
        {{item.description}}
    </li>
    <li>
        {{item.price}}
    </li>
    <li>
        {% if item.image %}
        <img src="{{ item.image.url }}" width="100px" alt="Item Image">
        {% else %}
        <p>No Image Available</p>
    {% endif %}
    </li>

    <a href ="{% url 'item_update' item.id %}" > update </a>
    <a href ="{% url 'item_delete' item.id %}" > delete </a>


    {% endfor %}

</ul>




<a href="{% url 'Item_create' %}"> Create new item</a>